
@{
    ViewBag.Title = "Index";
}

<script src="~/ScriptControllers/QuestionJs.js"></script>

<div ng-controller="QuestionJs">
    <h2>Index1</h2>
    <h2>Index2</h2>
    <div ng-repeat="item in listData">
        <span>Id: {{item.StudentID}} --- Name: {{item.StudentName}}</span>
    </div>

    <h2>Danh sách câu hỏi</h2>
    <table>
        <thead>
            <tr>
                <td>STT</td>
                <td>Nội dung</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in listQuestion">
                <th>{{$index+1}}</th>
                <th>{{item.Name}}</th>
                <th>
                    <button ng-click="delete(item)">Delete</button>
                </th>
                <th>
                    <button ng-click="update(item.Id)">Update</button>
                </th>
            </tr>
        </tbody>
    </table>
    <h2>Thêm câu hỏi</h2>
    <input ng-model="cauHoi" placeholder="nhập nội dung câu hỏi thêm"/>
    <button ng-click="add()">Thêm câu hỏi</button>
    <h2>Sửa câu hỏi</h2>
    <p>Nhập nội dung ở đây, bấm nút sửa trên danh sách</p>
    <input ng-model="noiDung" placeholder="nhập nội dung sửa" />
</div>

